@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-behavior: smooth !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

a {
    text-decoration: none;
}

.bg {
    background: url(AdobeStock_425512653.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    --characters: 79;
    --typingSpeed: 7s;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.container .blinky {
	position: absolute;
    right: 40%;
    color: white;
}

.container .blinky a {
    color: lightblue;
}
.container .blinky::before, .container .blinky::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.container .blinky::before {
	background: rgba(48,46,52,1);
	animation: typing var(--typingSpeed) steps(var(--characters)) 2s infinite;
}

.container .blinky::after {
	background: green;
	width: 1ch;
	animation: typing var(--typingSpeed) steps(var(--characters)) 2s infinite, blinking 0.25s ease alternate infinite;
}

@keyframes blinking {
	to {
		background: transparent;
	}
}

@keyframes typing {
	80%, 100% {
		left: 100%;
	}
}

.black-bg {
    background: black;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

#glow-peaks {
    background: url(bg_two.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#glow-peaks a {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
}

#glow-peaks h1 {
    animation: 2s slide-right 2s forwards;
    transform: translateX(-100%);
}

@keyframes slide-right {
    to {
        transform: translateX(0);
    }
}

.glow {
    position: relative;
    top: 44%;
    left: 33%;
}

.neon {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: azure;
}

